{% load static %} <!-- Django template tags -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSS-4</title>
    <link rel="stylesheet" type="text/css" href="{% static 'myapp/css/mystyle.css' %}">
</head>
<body>
    {% include './nav.html' %}
    <div class="wrapper">
        <div class="container container-margin bg-red">
            1
        </div>
        <div class="container container-margin bg-yellow">
            2
        </div>
        <div class="container bg-green">
            3
        </div>
    </div>
</body>
</html>